flask>=2.3.0
rembg[cpu]>=2.0.50
pymatting>=1.1.8
pillow>=10.0.0
onnxruntime>=1.16.0
numpy>=1.24.0
requests>=2.28.0
scikit-image>=0.21.0
scipy>=1.10.0
opencv-python>=4.8.0
torch>=1.7.0
torchvision>=0.8.0
timm
git+https://github.com/ChaoningZhang/MobileSAM.git
